.start-page{
    // display: flex;
    // text-align: center;
    // justify-content: center;
    // flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);


    .intro{
        // opacity: .3;
        h1{
            margin: 0;
            color: #293264;
        }
    
        p{
            color: #293264;
        }
    
        button{
            color: white;
            background-color: #4D5B9E;
            padding: 15px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .start-close{
        width: 400px;
        display: block;
        padding: 10px;
        text-align: left;
        background-color: #ddd;

        button{
            border: none;
            border-radius: 4px ;
            padding: 5px 12px;
            color: white;
            cursor: pointer;
        }
        .start-btn{
            margin-right: 6px;
            background-color: rgb(0, 128, 64);
        }
        .close-btn{
            background-color: red;
        }
    }


}