.header {
  text-align: center;
  background-color: rgba(0, 98, 255, 0.89);
  padding: 1rem;
  color: white;
  font-size: 2rem;
}

@media (max-width: 480px) {
  .header {
    font-size: 1.4rem;
  }
}
