.footer {
  //   background-color: beige;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: rgba(0, 98, 255, 0.89);
  padding: 2rem;
  font-weight: bold;
  font-size: 1.3rem;
}
