.question-cont {
  padding: 1rem;
  .question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .answer {
      border: none;
      border-radius: 5px;
      font-weight: 500;
      font-size: 14px;
      color: white;
      padding: 0.5rem;
      width: 200px;
      cursor: pointer;
      background-color: rgba(0, 98, 255, 0.89);
    }
    .answer:hover {
      background-color: red !important;
    }
  }
}
