.App{
    width: 600px;
    height: 600px;
    margin: 20px auto;
    text-align: center;
    background-color: #F5F7FB;
    display: flex;
    padding: 20px;
    position: relative;
    // justify-content: center;
}